# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc


data/generated/
data/archive/
data/collection/
data/learning/
data/processed/
data/simulation/
data/events.json
data/raw/
node_modules

tmp/